<% if (showNotice) { %>
  <div class="edit-your-page-notice">Scroll Down and Edit Your Listing's Information</div>
<% } %>


<div class="about-content">
  <h1>About This Listing</h1>
  <% var description = listing.escape("description") ? listing.escape("description") : "The guest apartment has its own entrance located on the ground level of our home. The private apartment is 720 sq and has 8 ft ceilings. The living room and kitchen are new and the bath and the two bedrooms are remodeled."%>
  <p class="description-p"><%= description %></p>

  <textarea class="listing-description-textbox" placeholder="Add something about this place here" ></textarea>
  <div class="description-buttons">
    <div>
      <img class="saveDesc" src="/assets/green_yes.png">
    </div>

    <div>
      <img  class="eraseDesc" src="/assets/red_no.png">
    </div>
  </div>


  <div class="about-img">
    <img src='<%= image ? image.escape("url") : "/assets/user_image_placeholder.jpg" %>'>
  </div>


  <hr>
  <div class="space-information info-container">
    <div class="col-xs-3 info-label"><strong>The Space</strong></div>
    <div class="col-xs-9">
      <div class="col-xs-6">
        <div>Home: <strong class="info-info"><%= listing.escape("hometype") %></strong></div>
        <div>Accomodates: <strong class="info-info"><%= listing.escape("accomodates") %></strong></div>
      </div>
      <div class="col-xs-6">
        <div>Room: <strong class="info-info"><%= listing.escape("roomtype") %></strong></div>
        <div>CheckIn Time: <input id="check-in-time"></div>
        <div>CheckOut Time: <input id="check-out-time"></div>
      </div>
    </div>
  </div>

  <hr>

  <div class="price-information info-container">
    <div class="col-xs-3 info-label"><strong>The Space</strong></div>
    <div class="col-xs-9">
      <div class="col-xs-6">
        <div>Home: <strong class="info-info"><%= listing.escape("hometype") %></strong></div>
        <div>Accomodates: <strong class="info-info"><%= listing.escape("accomodates") %></strong></div>
      </div>
      <div class="col-xs-6">
        <div>Room: <strong class="info-info"><%= listing.escape("roomtype") %></strong></div>
        <div>CheckIn: <strong class="info-info"></strong></div>
        <div>CheckOut: <strong class="info-info"></strong></div>
      </div>
    </div>
  </div>


  <hr>

  <div class="price-information info-container">
    <div class="col-xs-3 info-label"><strong>The Space</strong></div>
    <div class="col-xs-9">
      <div class="col-xs-6">
        <div>Home: <strong class="info-info"><%= listing.escape("hometype") %></strong></div>
        <div>Accomodates: <strong class="info-info"><%= listing.escape("accomodates") %></strong></div>
      </div>
      <div class="col-xs-6">
        <div>Room: <strong class="info-info"><%= listing.escape("roomtype") %></strong></div>
        <div>CheckIn: <strong class="info-info"></strong></div>
        <div>CheckOut: <strong class="info-info"></strong></div>
      </div>
    </div>
  </div>

</div>
