<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% _.times(images.length, function(n){ %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= n %>" class=<%= n === 0 ? "active" : "" %>></li>
    <% }) %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% var i = 0 %>
    <% images.each(function(image){ %>
      <div class="item <%= i === 0 ? "active" : "" %>" href="<%= image.escape("url") %>" style="background-image: url('<%= image.escape("url") %>');">
        <% i++ %>
      </div>
    <% }) %>

    <div class="pricing <%= addFixed ? "fixed-pricing" : "" %>">
      <div class="price">$ <%= listing.get("price") %></div>
      <div class="per-night">Per Night</div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div>

<div class="show-container container">
  <div class="show-summary">

  </div>

  <div class="show-request <%= addFixed ? "fixed-request" : "" %> ">

  </div>
</div>


<div class="show-about">
</div>


<div class="show-review">
</div>
